In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

In [2]:
Data=pd.read_csv('customer_churn_data.csv')

In [3]:
Data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,CUST0000,Male,0,No,Yes,23,No,No phone service,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,CUST0001,Female,0,Yes,No,43,No,No phone service,DSL,Yes,...,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,CUST0002,Male,1,No,No,51,Yes,No,DSL,No,...,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,CUST0003,Male,1,No,No,72,Yes,Yes,DSL,Yes,...,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,CUST0004,Male,1,No,No,25,Yes,Yes,DSL,No,...,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5880 entries, 0 to 5879
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5880 non-null   object
 1   gender            5880 non-null   object
 2   SeniorCitizen     5880 non-null   int64
 3   Partner           5880 non-null   object
 4   Dependents        5880 non-null   object
 5   tenure            5880 non-null   int64
 6   PhoneService      5880 non-null   object
 7   MultipleLines     5880 non-null   object
 8   InternetService   5880 non-null   object
 9   OnlineSecurity    5880 non-null   object
 10  OnlineBackup      5880 non-null   object
 11  DeviceProtection  5880 non-null   object
 12  TechSupport       5880 non-null   object
 13  StreamingTV       5880 non-null   object
 14  StreamingMovies   5880 non-null   object
 15  Contract          5880 non-null   object
 16  PaperlessBilling  5880 non-null   object
 17  PaymentMethod     5880 non-null   object
 18  MonthlyCharges    5880 non-null   float64
 19  TotalCharges      5880 non-null   float64
 20  Churn             5880 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 964.8+ KB

In [5]:
Data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [6]:
Data.InternetService.unique()

array(['No', 'DSL', 'Fiber optic'], dtype=object)

In [7]:
for col in Data.columns:
    print(col)
    print(Data[col].unique())

customerID
['CUST0000' 'CUST0001' 'CUST0002' ... 'CUST5877' 'CUST5878' 'CUST5879']
gender
['Male' 'Female']
SeniorCitizen
[0 1]
Partner
['No' 'Yes']
Dependents
['Yes' 'No']
tenure
[23 43 51 72 25 35 17 18 27 15 69 42 34 48  8 10  5 26 62 13  9 20 57 24
 33 60 64 30 14 19 71 59 67 44 32 11  2 68 40 46  4 38 63 29 70 52 55 66
 31 61 36 37 47 22 39 58  7 65  6 45  1 56 21 16 49 41  3 12 53 28 50 54]
PhoneService
['No' 'Yes']
MultipleLines
['No phone service' 'No' 'Yes']
InternetService
['No' 'DSL' 'Fiber optic']
OnlineSecurity
['No internet service' 'Yes' 'No']
OnlineBackup
['No internet service' 'No' 'Yes']
DeviceProtection
['No internet service' 'Yes' 'No']
TechSupport
['No internet service' 'No' 'Yes']
StreamingTV
['No internet service' 'Yes' 'No']
StreamingMovies
['No internet service' 'No' 'Yes']
Contract
['Month-to-month' 'One year' 'Two year']
PaperlessBilling
['Yes' 'No']
PaymentMethod
['Bank transfer' 'Mailed check' 'Electronic check' 'Credit card']
MonthlyCharges
[ 49.85 100.7   97.33 ...  34.06  74.21  65.43]
TotalCharges
[1146.55 4330.1  4963.83 ... 4065.04 1286.32  585.35]
Churn
['No' 'Yes']

In [8]:
Data.MultipleLines=Data.MultipleLines.replace("No phone service","No")
Data.OnlineSecurity=Data.OnlineSecurity.replace("No internet service","No")
Data.OnlineBackup=Data.OnlineBackup.replace("No internet service","No")
Data.DeviceProtection=Data.DeviceProtection.replace("No internet service","No")
Data.TechSupport=Data.TechSupport.replace("No internet service","No")
Data.StreamingMovies=Data.StreamingMovies.replace("No internet service","No")
Data.StreamingTV=Data.StreamingTV.replace("No internet service","No")

In [9]:
Data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,CUST0000,Male,0,No,Yes,23,No,No,No,No,...,No,No,No,No,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,CUST0001,Female,0,Yes,No,43,No,No,DSL,Yes,...,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,CUST0002,Male,1,No,No,51,Yes,No,DSL,No,...,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,CUST0003,Male,1,No,No,72,Yes,Yes,DSL,Yes,...,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,CUST0004,Male,1,No,No,25,Yes,Yes,DSL,No,...,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [11]:
Data.drop("customerID",axis=1,inplace=True)

In [12]:
Data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,No,Yes,23,No,No,No,No,No,No,No,No,No,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,Female,0,Yes,No,43,No,No,DSL,Yes,No,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,Male,1,No,No,51,Yes,No,DSL,No,Yes,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,Male,1,No,No,72,Yes,Yes,DSL,Yes,No,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,Male,1,No,No,25,Yes,Yes,DSL,No,No,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [13]:
for col in Data.columns:
    print(col)
    print(Data[col].unique())

gender
['Male' 'Female']
SeniorCitizen
[0 1]
Partner
['No' 'Yes']
Dependents
['Yes' 'No']
tenure
[23 43 51 72 25 35 17 18 27 15 69 42 34 48  8 10  5 26 62 13  9 20 57 24
 33 60 64 30 14 19 71 59 67 44 32 11  2 68 40 46  4 38 63 29 70 52 55 66
 31 61 36 37 47 22 39 58  7 65  6 45  1 56 21 16 49 41  3 12 53 28 50 54]
PhoneService
['No' 'Yes']
MultipleLines
['No' 'Yes']
InternetService
['No' 'DSL' 'Fiber optic']
OnlineSecurity
['No' 'Yes']
OnlineBackup
['No' 'Yes']
DeviceProtection
['No' 'Yes']
TechSupport
['No' 'Yes']
StreamingTV
['No' 'Yes']
StreamingMovies
['No' 'Yes']
Contract
['Month-to-month' 'One year' 'Two year']
PaperlessBilling
['Yes' 'No']
PaymentMethod
['Bank transfer' 'Mailed check' 'Electronic check' 'Credit card']
MonthlyCharges
[ 49.85 100.7   97.33 ...  34.06  74.21  65.43]
TotalCharges
[1146.55 4330.1  4963.83 ... 4065.04 1286.32  585.35]
Churn
['No' 'Yes']

Let's convert the unique columns to 0/1 variable using one-hot encoding

In [16]:
binary_cols = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines',
               'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 
               'TechSupport', 'StreamingTV', 'StreamingMovies', 
               'PaperlessBilling', 'Churn']

for col in binary_cols:
    Data[col] = Data[col].map({'Yes': 1, 'No': 0})


Data['gender'] = Data['gender'].map({'Male': 1, 'Female': 0})

In [17]:
multi_cols = ['InternetService', 'Contract', 'PaymentMethod']

Data = pd.get_dummies(Data, columns=multi_cols, drop_first=True)

In [20]:
Data=pd.read_csv('customer_churn_data.csv')

In [22]:
Data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Male,0,No,Yes,23,No,No phone service,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Bank transfer,49.85,1146.55,No
1,Female,0,Yes,No,43,No,No phone service,DSL,Yes,No,Yes,No,Yes,No,Month-to-month,No,Mailed check,100.70,4330.10,Yes
2,Male,1,No,No,51,Yes,No,DSL,No,Yes,Yes,Yes,No,No,One year,No,Electronic check,97.33,4963.83,Yes
3,Male,1,No,No,72,Yes,Yes,DSL,Yes,No,Yes,No,No,No,Month-to-month,No,Credit card,101.38,7299.36,No
4,Male,1,No,No,25,Yes,Yes,DSL,No,No,No,Yes,No,Yes,Month-to-month,No,Electronic check,52.22,1305.50,Yes

In [ ]:

target_values = {
    'gender': 'Male',
    'InternetService': 'Fiber optic',
    'Contract': 'Two year',
    'PaymentMethod': 'Electronic check'
}

for col, val in target_values.items():
    Data[col] = (Data[col] == val).astype(int)

In [25]:
Data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,No,Yes,23,No,No phone service,0,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,0,Yes,0,49.85,1146.55,No
1,0,0,Yes,No,43,No,No phone service,0,Yes,No,Yes,No,Yes,No,0,No,0,100.70,4330.10,Yes
2,1,1,No,No,51,Yes,No,0,No,Yes,Yes,Yes,No,No,0,No,1,97.33,4963.83,Yes
3,1,1,No,No,72,Yes,Yes,0,Yes,No,Yes,No,No,No,0,No,0,101.38,7299.36,No
4,1,1,No,No,25,Yes,Yes,0,No,No,No,Yes,No,Yes,0,No,1,52.22,1305.50,Yes

In [26]:
Data.MultipleLines=Data.MultipleLines.replace("No phone service","No")
Data.OnlineSecurity=Data.OnlineSecurity.replace("No internet service","No")
Data.OnlineBackup=Data.OnlineBackup.replace("No internet service","No")
Data.DeviceProtection=Data.DeviceProtection.replace("No internet service","No")
Data.TechSupport=Data.TechSupport.replace("No internet service","No")
Data.StreamingMovies=Data.StreamingMovies.replace("No internet service","No")
Data.StreamingTV=Data.StreamingTV.replace("No internet service","No")

In [28]:
Data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,No,Yes,23,No,No,0,No,No,No,No,No,No,0,Yes,0,49.85,1146.55,No
1,0,0,Yes,No,43,No,No,0,Yes,No,Yes,No,Yes,No,0,No,0,100.70,4330.10,Yes
2,1,1,No,No,51,Yes,No,0,No,Yes,Yes,Yes,No,No,0,No,1,97.33,4963.83,Yes
3,1,1,No,No,72,Yes,Yes,0,Yes,No,Yes,No,No,No,0,No,0,101.38,7299.36,No
4,1,1,No,No,25,Yes,Yes,0,No,No,No,Yes,No,Yes,0,No,1,52.22,1305.50,Yes

In [29]:

target_values = {
    'Partner':'Yes',
    'Dependents':'Yes',
    'PhoneService':'Yes',
    'MultipleLines':'Yes',
    'OnlineSecurity':'Yes',
    'OnlineBackup':'Yes',
    'DeviceProtection':'Yes',
    'TechSupport':'Yes',
    'StreamingTV':'Yes',
    'StreamingMovies':'Yes',
    'PaperlessBilling':'Yes',
    'Churn':'Yes'
}

for col, val in target_values.items():
    Data[col] = (Data[col] == val).astype(int)

In [30]:
Data.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1,0,0,1,23,0,0,0,0,0,0,0,0,0,0,1,0,49.85,1146.55,0
1,0,0,1,0,43,0,0,0,1,0,1,0,1,0,0,0,0,100.70,4330.10,1
2,1,1,0,0,51,1,0,0,0,1,1,1,0,0,0,0,1,97.33,4963.83,1
3,1,1,0,0,72,1,1,0,1,0,1,0,0,0,0,0,0,101.38,7299.36,0
4,1,1,0,0,25,1,1,0,0,0,0,1,0,1,0,0,1,52.22,1305.50,1

In [33]:
import os

# Create the folder if it doesn't exist
os.makedirs('Model', exist_ok=True)

# Save the file
Data.to_csv('Model/cleaned_data.csv', index=False)